@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700&family=Roboto:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.wrap {
    max-width: 1050px;
    margin: 0 auto;
}

:root{
    --green-color: #96BB7C;
    --text-color:#252B42;
    --gray-color: #737373;
}
body {
    color: var(--text-color);
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}
/* custom icons */
[class^="icon"] {
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    cursor: pointer;
}
  .icon-facebook {
    background-image: url("./icons/facebook.svg");
    width: 24px;
    height: 24px;
  }
  
  .icon-instagram {
    background-image: url("./icons/instagram.svg");
    width: 24px;
    height: 24px;
  }
  .icon-twitter {
    background-image: url("./icons/twitter.svg");
    width: 24px;
    height: 24px;
  }

  .team__title {
    font-size: 14px;
    line-height: 24px;
    color: var( --green-color);
  }
  .team__sub-title{
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
  }
.team__describe{
    line-height: 20px;
    color: var(--gray-color);
    max-width: 469px;
}